@CHARSET "UTF-8";

.simple-dual-listbox-table {

}

.simple-dual-listbox-div-left {

}

.simple-dual-listbox-div-buttons {
	width: 120px;
	padding-left: 15px;
	padding-right: 15px;
}

.simple-dual-listbox-button {
	width: 100%;
	margin: 0px;
}

.simple-dual-listbox-div-right {

}