@CHARSET "UTF-8";

.listbox-dual-button {
	width: 100%;
	margin: 0px;
}

.listbox-dual-div-buttons {
	width: 120px;
	padding-left: 15px;
	padding-right: 15px;
}

.listbox-dual-div-left {
	
}

.listbox-dual-div-right {
	
}

.listbox-dual-table {
	
}